.bText {
  padding: 28px 32px 56px 32px;
  h3 {
    font-size: 33px;
    font-weight: 200;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
    font-weight: 600;
  }
}
.bannerT {
  .popularProducts {
  }
  .ipad {
    background-color: #f9f9f9;
  }
  .samsung {
    background-color: #eaeaea;
  }
  .macbook {
    background-color: #2c2c2c;
    color: white;
  }
}
