.navButtons {
  margin-top: 64px;
  button {
    width: 210px;
    height: 64px;
    border-radius: 6px;
  }
  .backBtn {
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
    outline: none;
  }
  .nextBtn {
    background: #000000;
    border: none;
    color: #ffffff;
    outline: none;
  }
}
