.productCard {
  background-color: #f6f6f6;
  padding: 24px 16px;
  border-radius: 9px;
  text-align: center;
  .wishlistIcon {
    display: flex;
    justify-content: flex-end;
    button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      svg {
        font-size: 30px;
        color: #90909080;
      }
    }
  }
  .producImg {
    width: 80%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
    font-family: 500;
    margin: 0 0 8px 0;
  }
  p {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }
  .cartBtn {
    width: 188px;
    height: 44px;
    background-color: #000;
    color: white;
    margin: 0 auto;
    border-radius: 8px;
  }
}
