.CartContent {
  .header {
    margin: 0 0 40px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }
  .divider {
    height: 0.5px;
    width: 100%;
    background-color: #a3a3a3;
    margin: 32px 0 40px 0;
  }
}
